body{
    background:#0d1117;
    color:#fff;
    font-family:Poppins,sans-serif;
}

.navbar{
    background:#000;
    box-shadow:0 5px 15px rgba(0,0,0,.5);
}

.card{
    background:#1e293b;
    border:none;
    border-radius:20px;
    color:#fff;
    box-shadow:0 10px 30px rgba(0,0,0,.5);
}

.card-header{
    background:#111827;
    color:#3b82f6;
    border-bottom:1px solid #374151;
}

.table{
    margin-bottom:0;
}

.table-dark{
    --bs-table-bg:#111827;
}

.btn-primary{
    background:#2563eb;
    border:none;
}

.btn-primary:hover{
    background:#1d4ed8;
}

.btn-outline-light:hover{
    background:#fff;
    color:#000;
}